#game
{
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction:column;
}
#board
{
    width:600px;
    height:600px;
    display:flex;
    flex-direction:column;
}
#board0
{
    display:flex;
    width:600px;
    height:200px;
}
#board1
{
    display:flex;
    width:600px;
    height:200px;
}
#board2
{
    display:flex;
    width:600px;
    height:200px;
}
#board0 > div, #board1 > div, #board2 > div
{
    border-width:10px;
    border-radius:2%;
    flex-basis:200px;
    font-family:FreeMono, monospace;
    font-size:120px;
    padding:20px;
    text-align:center;
}
.board-item0
{
    border-bottom: 4px solid rgba(255, 0, 0, 0.8);
    border-right: 4px solid rgba(255, 0, 0, 0.8);
}
.board-item1
{
    border-bottom: 4px solid rgba(255, 0, 0, 0.8);
    border-right: 4px solid rgba(255, 0, 0, 0.8);
    border-left: 4px solid rgba(255, 0, 0, 0.8);
}
.board-item2
{
    border-bottom: 4px solid rgba(255, 0, 0, 0.8);
    border-left: 4px solid rgba(255, 0, 0, 0.8);
}
.board-item3
{
    border-bottom: 4px solid rgba(255, 0, 0, 0.8);
    border-top: 4px solid rgba(255, 0, 0, 0.8);
    border-right: 4px solid rgba(255, 0, 0, 0.8);
}
.board-item4
{
    border-bottom: 4px solid rgba(255, 0, 0, 0.8);
    border-top: 4px solid rgba(255, 0, 0, 0.8);
    border-right: 4px solid rgba(255, 0, 0, 0.8);
    border-left: 4px solid rgba(255, 0, 0, 0.8);
}
.board-item5
{
    border-bottom: 4px solid rgba(255, 0, 0, 0.8);
    border-top: 4px solid rgba(255, 0, 0, 0.8);
    border-left: 4px solid rgba(255, 0, 0, 0.8);
}
.board-item6
{
    border-top: 4px solid rgba(255, 0, 0, 0.8);
    border-right: 4px solid rgba(255, 0, 0, 0.8);
}
.board-item7
{
    border-top: 4px solid rgba(255, 0, 0, 0.8);
    border-right: 4px solid rgba(255, 0, 0, 0.8);
    border-left: 4px solid rgba(255, 0, 0, 0.8);
}
.board-item8
{
    border-top: 4px solid rgba(255, 0, 0, 0.8);
    border-left: 4px solid rgba(255, 0, 0, 0.8);
}
.btn
{
    margin-top:10px;
}